body {
    min-height: 100vh;
    /* display: flex;
    flex-direction: column; */
}

main {
    text-align: center;
    display: flex;
    flex-direction: column;
}

footer {
    min-height: 50px;
}
  
.navbar-nav {
    margin-left: 3vw;
    margin-right: 3vw; 
}

.img {
    border-radius: 1.3rem;
}



/* DarkMode */

.checkmark {
    display: none;
}
  
.active .checkmark {
    display: inline;
}
  
.invert {
    filter: invert(1);
}
  
.icon-opacity {
    opacity: 0.5;
}