body {
  min-height: 100vh;
}

main {
  flex: 1 calc(100vh - 110px);
  display: flex;
  justify-content: space-around;
  justify-content: center;
  /* background-color: rgb(111, 119, 131); */
  /* background-color: lightslategray; */
}
 
/* left section is empty */
.empty-section {
  display: flexbox;
  position: relative;
  width: 15vw;
}

.centered-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 60vw; 
}

.right-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 15vw;
  white-space: nowrap;
  position: sticky;
  top: 5px;
}

/* puts the two columns next to each other unless the screen size is too narrow*/
@media (max-width: 980px) {
  main {
    flex-direction: column;
  }
  .empty-section {
    display: none;
  }
  .centered-section {
    width: 100vw;
  }
  .about {
    width: 80vw;
  }
  .right-section {
    margin: auto;
  }
} 



footer {
  min-height: 50px;
}

.navbar-nav {
  margin-left: 3vw;
  margin-right: 3vw; 
}


.checkmark {
  display: none;
}

.active .checkmark {
  display: inline;
}

.invert {
  filter: invert(1);
}

.icon-opacity {
  opacity: 0.5;
}